/* 
    共通レイアウト
*/
@media screen and (max-width: 1000pz) {
    * {
        width: 98%;
    }
}

.header-list {
    display: -webkit-flex;
    display: flex;
    margin-left: 50px;
}

.nav-list-item {
    list-style: none;
    color:#ffffff;

}

/* 
    継承先ページ共通レイアウト    
*/
h1 {
    margin-top: 30px;
    border-bottom: solid 3px black;
}