/*
    共通レイアウト
*/
body {
    --none: none;
}

/* ヘッダーメニュー */
/* スマホ以外の端末でアクセスした場合は非表示 */
.sp-nav {
    display: var(--none);
}

.sp-header {
    display: var(--none);
}

.header-list {
    display: -webkit-flex;
    display: flex;
    margin-left: 50px;
}

.nav-list-item {
    list-style: var(--none);
    color:#ffffff;
}

/*
    継承先ページ共通レイアウト
    app.blade
*/
py-4 > h1 {
    margin-top: 30px;
    border-bottom: solid 3px black;
}



.title {
    margin-bottom: 60px;
    justify-content: space-between;
    transition: background .3s;
}

.title:hover {
    background-color: rgba(0, 0, 0, .2);
}

.link-to-show {
  text-decoration: var(--none);
  color:initial
}

.link-to-show:hover {
    text-decoration: var(--none);
    color:rgba(0, 0, 0, .5);
}
